/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */

html {
	cursor: url('data:image/x-icon;base64,AAACAAEAICAAAAAAAACoEAAAFgAAACgAAAAgAAAAQAAAAAEAIAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMAAAAFAAAACAAAAAgAAAAIAAAACAAAAAgAAAAIAAAACAAAAAgAAAAIAAAACAAAAAgAAAAIAAAACAAAAAgAAAAIAAAACAAAAAgAAAAIAAAABgAAAAMAAAABAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACQAAABMAAAAcAAAAHAAAABwAAAAcAAAAHAAAABwAAAAcAAAAHAAAABwAAAAcAAAAHAAAABwAAAAcAAAAHAAAABwAAAAcAAAAHAAAABwAAAAVAAAADwAAAAgAAAAGAAAAAwAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAATAAAAJQAAADgAAAA4AAAAOAAAADgAAAA4AAAAOAAAADgAAAA4AAAAOAAAADgAAAA4AAAAOAAAADgAAAA4AAAAOAAAADgAAAA4AAAAOAAAAC8AAAAlAAAAHAAAABUAAAAPAAAABQAAAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABoAAAAzAAAATAAAAEwAAABMAAAATAAAAEwAAABMAAAATAAAAEwAAABMAAAATAAAAEwAAABMAAAATAAAAEwAAABMAAAATAAAAEwAAABMAAAARQAAAD8AAAA4AAAALgAAACUAAAASAAAACQAAAAAAAAAAAAAAAAAAAAAAAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAFMAAABRAAAATgAAAEkAAABCAAAAOQAAACIAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAP///////////////////////////////////////////////////////////////////////////wAAAP//////////////////////AAAA/wAAAP8AAAD/AAAASgAAAEUAAAA5AAAAJwAAABAAAAAAAAAAAAAAAAAAAAAAAAAA/wAAAP////////////////////////////////8AAAD//////////////////////wAAAP8AAAD/AAAA//////////////////////////////////////8AAAD/AAAA/wAAACUAAAAbAAAACQAAAAAAAAAAAAAAAAAAAAAAAAD//////////////////////wAAAP////////////////8AAAD///////////////////////////8AAAD///////////////////////////8AAAD/AAAA//////8AAAD/AAAADwAAAAwAAAADAAAAAAAAAAAAAAAAAAAA////////////////////////////AAAA//////8AAAD//////wAAAP//////////////////////AAAA/wAAAP///////////////////////////wAAAP8AAABRAAAA/wAAABwAAAADAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAD/AAAA/////////////////////////////////wAAAP8AAAD/AAAA//////////////////////8AAAD/////////////////////////////////AAAA/wAAAEgAAAAsAAAAEwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABMAAAD//////////////////////wAAAP////////////////8AAAD///////////////////////////////////////////////////////////8AAAD/AAAANQAAABwAAAAJAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGQAAAP//////////////////////AAAA////////////AAAA/////////////////////////////////////////////////////////////////wAAAP8AAAAfAAAADAAAAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP8AAAAZAAAAIAAAAP////////////////////////////////////////////////////////////////////////////////////////////////8AAAD/AAAAFQAAAAwAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/wAAABMAAAAcAAAAJQAAAP///////////////////////////////////////////////////////////////////////////wAAAP8AAAD/AAAA/wAAAAgAAAAGAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/AAAACQAAABAAAAAXAAAAFAAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/AAAACAAAAAYAAAADAAAAAQAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP8AAAD/AAAA/wAAAP8AAAAHAAAABQAAAAMAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA///////////////////////////////////////////////////////////////////////////////////////////////////////////AAAP/wAAAf8AAAB/AAAAfgAAAv4AAAP/AAAD/wAAA/2AAAf9wAAP/eAAf/w////8='), auto;
	font-family: "Pixelated MS Sans Serif", Arial;
    color: white;
}

.hidden {
	visibility: hidden;
}

div#dog-spin {
	background: no-repeat center white url(assets/images/dog_spin.gif);
	background-size: 200px;
	height: 200px;
	width: 200px;
	/* z-index: 2000; */
}

div.dog-shocked {
	background: no-repeat center white url("assets/images/annoying dog perfect shocked scaled.png") !important;
	background-size: 75px !important;
	background-position-y: 54% !important;
}

body {
	margin: 0;
}

#page1 {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: white;
	height: 100%;
	position: absolute;
	width: 100%;
}

ul.tree-view {
	position: absolute;
	left: 0;
	margin: 25px !important;
	top: 0;

	opacity: 1;
}

.blink {
	animation: blinker 10s ease-in-out infinite;
}
  
@keyframes blinker {
	40% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	60% {
		opacity: 1;
	}
}


.row {
	display: flex;
	height: 100%;
}
.column {
	flex: 50%;
}

@media screen and (max-width: 700px) {
	.row {
		flex-direction: column;
	}
}

.column2 {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#center-center-content {
    display: flex;
    align-items: center;
    justify-content: center;
	width: 100%;
	height: 100%;
    position: absolute;
	flex-direction: column;
}
#center-content {
    display: flex;
    align-items: center;
    justify-content: center;
	width: 100%;
}
#center-image {
    width: 300px;
    top: 0; left: 0; bottom: 0; right: 0;
	margin: 60px 0;
	visibility: hidden;
}
#center-image.show {
	animation: showImage 5s linear forwards;
	visibility: visible;
}
@keyframes showImage {
	0% {
		filter: brightness(0%) sepia(100) saturate(4) hue-rotate(147deg);
	}
	50% {
		filter: brightness(100%) sepia(100) saturate(4) hue-rotate(147deg);
	}
	100% {
		filter: brightness(100%) sepia(100) saturate(0) hue-rotate(147deg);
	}
}
#center-text {
	text-align: center;
	position: absolute;
	align-self: flex-end;
	margin: 0;
	font-size: 45px;
}

#page2 {
	background: black;
}
#page2-text {
	position: absolute;
}
#sleepy_dog {
	height: 100%;
	width: 100%;
	pointer-events: none;
	clear: both;
	position: absolute;
}


#page3 {
    background-color: white;
}

#gallery > * {
	position: relative;
	filter: drop-shadow(0 0 0.75rem rgb(14, 14, 14));
}
#gallery * {
	border-radius: 5px;
	max-width: 100%;
}

@media screen and (min-width: 1420px) {
	#gallery div h2 {
		width: 600px;
	}
}


.arrows {
	mix-blend-mode: difference;
    font-size: 40px;
	cursor: pointer;
	padding: 15px;
}
.arrows.disabled {
	cursor: auto;
}

.links {
	margin: 10px auto;
}
.links a {
	color: inherit;
  	text-decoration: inherit;
}
.link-btn {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	margin: 5px;

    display: flex;
	align-items: center;
    justify-content: center;

	visibility: hidden;
}
.link-btn:hover {
	filter: brightness(85%);
	transition: filter 100ms linear;
}
.link-btn i {
	font-size: 35px;
}
.show.link-btn {
	animation: 2s cubic-bezier(.25, 1, .30, 1) circle-in-center both;
	visibility: visible;
}
.show.link-btn i {
	animation: 1s cubic-bezier(.25, 1, .30, 1) wipe-in-bottom-right both;
	animation-delay: .6s;
}

.flecks {
	flex: 1;
	display: inline-flex;
	justify-content: center;
}

@keyframes circle-in-center {
	from {
	  clip-path: circle(0%);
	}
	to {
	  clip-path: circle(125%);
	}
}
@keyframes wipe-in-bottom-right {
	from {
	  clip-path: polygon(0 0, 0 0, 0 0, 0 50%);
	}
	to {
	  clip-path: polygon(-50% 0%, 200% 0, 0 200%, 0 -50%);
	}
}


/* Draggable popup window */

.draggable-window {
	font-family: "Pixelated MS Sans Serif", Arial;
	-webkit-font-smoothing: none;
	font-size: 11px;
	color: #222222;
	position: absolute;
}

.draggable {
	width: 300px;
	height: 100px;
	background: #ccc;
	position: relative;
}
  
.draggable.dragging {
	user-select: none;
}



.tree-icon {
	margin-right: 3px;
	image-rendering: pixelated;
}
.tree-icon-big {
	margin-right: 5px;
	image-rendering: pixelated;
}


.sb-bevel {
    filter: url(#bevelFilter);
}


.rainbow { 
	height: 100%;
	width: 100%;
	left:0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  
  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
	animation: rainbow 18s ease infinite;}
  
  @-webkit-keyframes rainbow {
	  0%{background-position:0% 82%}
	  50%{background-position:100% 19%}
	  100%{background-position:0% 82%}
  }
  @-moz-keyframes rainbow {
	  0%{background-position:0% 82%}
	  50%{background-position:100% 19%}
	  100%{background-position:0% 82%}
  }
  @-o-keyframes rainbow {
	  0%{background-position:0% 82%}
	  50%{background-position:100% 19%}
	  100%{background-position:0% 82%}
  }
  @keyframes rainbow { 
	  0%{background-position:0% 82%}
	  50%{background-position:100% 19%}
	  100%{background-position:0% 82%}
  }