body {
	position: relative;
	margin: auto;
	background: black;
	perspective: 300px;
    z-index: -1 !important;
    overflow: hidden;
}
#perspective-thing {
	display: flex;
	flex-direction: column;
	transform: rotatex(10deg);
	animation: rotateAngle 6s linear infinite;
}
#sleepy-dog {
    filter: blur(20px);
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
  	-o-filter: blur(20px);
  	-ms-filter: blur(20px);
}
@keyframes rotateAngle {
	0% {
		transform: rotateY(0deg) rotateX(10deg);
		animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
	}
	25% {
		transform: rotateY(20deg) rotateX(10deg);
	}
	50% {
		transform: rotateY(0deg) rotateX(10deg);
		animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
	}
	75% {
		transform: rotateY(-20deg) rotateX(10deg);
	}
	100% {
		transform: rotateY(0deg) rotateX(10deg);
	}
}